body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
}

header {
    background-color: black;
    color: rgba(19, 107, 216, 0.73);
    padding: 20px;
}

section {
    background-color: lightgray;
}